.panel-risk-matrix {
  max-width: 960px;
}

.panel-score {
  float: right;
  text-align: center;
}

.score {
  font-weight: bold;
  font-size: 30px;
}

label.error {
  color: red;
  font-weight: normal;
  font-size: 0.9em;
}

th, td {
  padding: 10px;
  vertical-align: top;
}

.cardlabel {
	padding: 20px 10px 10px 10px ;
	color: #6f6f6f;
    font-size: 0.9em;

}

input[type="text"] {
    box-sizing: border-box; width: 100% !important;
}

input[type="select"] {
    box-sizing: border-box; width: 100% !important;
}

body {font-family: myriad-light, "myriad-pro" , helvetica, sans-serif;}

h1 {font-weight: 500; font-size: 22pt; padding: 5px 0 15px 0;}
h3 {font-weight: 400;}

.tooltip-inner {
  padding: 10px;
  text-align: left;
}